@font-face {
    font-family: 'Kanit-Light';
    src: url('Fonts/Kanit-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit-Bold';
    src: url('Fonts/Kanit-Regular.ttf') format('truetype');
}
body{
    margin: 0;
    font-family: 'Kanit-Light';
}
/*header*/
#contact-bar{
    width: 100%;
    height: 40px;
    background-color: #2a2a2a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#contact-bar p:nth-of-type(1){
    margin-left: 15%;
}
#contact-bar p:nth-of-type(2){
    margin-right: 15%;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 2;
    /*font-family: trebuchet ms;*/
}
.logo{
    width: 250px;
    height: 100%;
    background-image: url('../public/logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: #fff;
    margin-left: 10%;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navegacion{
    height: 100%;
    width: 1200px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
}
ol{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    width: 70%;
    height: 100%;
    align-items: center;
    padding: 0;
    margin: 0px 0px 0px 0px;
}
ol li:nth-of-type(2){
    margin-left: 0%;
}
li{
    list-style-type: none;
    height: max-content;
    width: max-content;
    font-size: 28px;
    display: flex;
    position: relative;
    /*border: solid rgba(0, 0, 0, 0);
    border-width: 5px 25px 5px 25px;
    border-radius: 5px;*/
}
li::after{
    content: '';
    position: absolute;
    background-color: red;
    width: 0%;
    height: 5px;
    bottom: 0;
}
li:hover::after{
    width: 100%;
    transition: width .25s;
}
/*li:hover{
    background-color: deeppink;
    border-bottom: 9px solid #1C6EA4;
}*/
a{
    text-decoration: none;
    color: #000;
}
/**/
/*index*/
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#slide{
    width: 100%;
    height: 700px;
    background: rgb(63,141,227);
    background: radial-gradient(circle, rgba(63,141,227,1) 0%, rgba(143,58,138,1) 100%);
    display: flex;
    position: relative;
    justify-content: flex-end;
    z-index: 1;
}
#Presentation{
    display: flex;
    height: 100%;
    width: 40%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
#Presentation p{
    margin: 0;
}
#Presentation p + p{
    margin-top: 20px;
}
#Presentation p + button{
    margin-top: 20px;
}
#title{
    font-size: 66px;
    font-family: 'Kanit-Light';
    font-weight: bold;
}
#description{
    font-size: 26px;
}
#Presentation button{
    width: 220px;
    height: 55px;
    cursor: pointer;
    border: 0;
    border-radius: 50px ;
    background-color: #fff;
    box-shadow: 10px 10px 50px -72px rgba(0,0,0,0.6);

}
#Presentation button:hover{
    background-color: #8b8b8b;
}
#imgCont{
    width: 700px;
    height: 700px;
    margin-right: 7.5%;
    display: flex;
}
.imgSubCont{
    display: flex;
    width: calc(100% / 3);
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.imgSubCont div:nth-of-type(n){
    width: 170px;
    height: 225px;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
}
/*#imgCont .imgSubCont:nth-of-type(1){
}*/
#imgCont .imgSubCont:nth-of-type(2){
    margin-top: -10%;
    height: 120%;
}
/*#imgCont .imgSubCont:nth-of-type(3){
}*/
#imgCont div:nth-of-type(1) div:nth-of-type(1){
    background-image: url("../public/img1.jpg");
    align-self: flex-end;
}
#imgCont div:nth-of-type(1) div:nth-of-type(2){
    background-image: url("../public/img2.jpg");
    align-self: flex-end;
    margin-top: -65px;
}
#imgCont div:nth-of-type(2) div:nth-of-type(1){
    background-image: url("../public/img3.jpg");
}
#imgCont div:nth-of-type(2) div:nth-of-type(2){
    background-image: url("../public/img4.jpg");
}
#imgCont div:nth-of-type(2) div:nth-of-type(3){
    background-image: url("../public/img5.jpg");
}
#imgCont div:nth-of-type(3) div:nth-of-type(1){
    background-image: url("../public/img6.jpg");
    align-self: flex-start;
}
#imgCont div:nth-of-type(3) div:nth-of-type(2){
    background-image: url("../public/img7.jpg");
    align-self: flex-start;
    margin-top: -65px;
}


.info{
    background-color: rgb(45, 156, 146);
    width: 80%;
    height: 1800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.infoCont{
    width: 100%;
    height: 500px;
    display: flex;
    margin-top: 50px;
}
.imgCont{
    width: 800px;
    height: 500px;
    display: flex;
    justify-content: flex-end;
    background-color: red;
}
.priceTag{
    width: 300px;
    height: 50px;
    background-color: blue;
    position: absolute;
    align-self: flex-end;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.priceTag p{
    font-size: 28px;
}
.info img{
    width: 800px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
}
.info p{
    text-align: justify;
    padding: 15px;
}
/*Footer*/
.footerCont{
    width: 100%;
    height: 200px;
    background-color: rgb(140, 140, 140);
    display: flex;
    justify-content: center;
}
/**/
/*Pagina de Agenda*/
#agendaCont{
    width: 80%;
    min-height: 800px;
    background-color: black;
    align-items: center;
    margin: auto;
    flex-direction: column;
    display: flex;
}

.dropDownUserBar{
    background-color: dodgerblue;
    width: 1100px;
    cursor: pointer;
    margin-top: 10px;
}
.dropDownCalendarBar{
    background-color: dodgerblue;
    width: 1100px;
    cursor: pointer;
    margin-top: 10px;
}
.dropDownAddClientBar{
    background-color: dodgerblue;
    width: 1100px;
    cursor: pointer;
    margin-top: 10px;
}
.noDropDownUser{
    display: flex;
    width: 1100px;
    height: 0px;
    flex-direction: column;
    transition: all .5s;
}
.noDropDownCalendar{
    display: flex;
    width: 1100px;
    height: 0px;
    overflow: hidden;
    flex-direction: column;
    transition: all .5s;
}
.noDropDownAddClient{
    display: flex;
    overflow: hidden;
    width: 1100px;
    height: 0px;
    transition: height .5s;
}
/*Animación*/
.dropEffect {
    /*overflow: visible;*/
    flex-direction: column;
    display: flex;
    height: 850px;
    transition: height .5s;
}
.dropEffectCalendar{
    display: flex;
    flex-direction: column;
    height: 650px;
    transition: all .5s;
}
.dropEffectAddClient{
    display: flex;
    flex-direction: column;
    height: 400px;
    transition: all .5s;
}

#calendarCont{
    width: 1100px;
    height: 300px;
    overflow: hidden;
    background-color:aquamarine;
    display: flex;
    justify-content: center;
}
.dateSelectInfo{
    width: 1100px;
    height: 350px;
    background-color: blueviolet;
}
.searchUser{
    width: 1100px;
    height: 350px;
    background-color: burlywood;
    text-align: center;
    overflow: hidden;
}
.searchUser input{
    width: 40%;
    height: 50px;
    margin: 0 auto;
}
.userList{
    width: 1100px;
    height: 200px;
    background-color: chocolate;
    overflow: hidden;
}
.manageClients{
    width: 1100px;
    height: 300px;
    background-color: blueviolet;
    overflow: hidden;
}
.managClient{
    background-color: chartreuse;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}
.editClient{
    height: 100%;
    width: 50%;
    background-color: rgb(148, 35, 98);
}
textarea{
    resize: none;
}
.addClient{
    height: 100%;
    width: 50%;
    background-color: orange;
}
/**/

/**/